<!-- <app-floara></app-floara> -->

<!-- <app-cke-editor5></app-cke-editor5>  -->

<!-- <app-syncfusion-editor></app-syncfusion-editor> -->


<!-- <app-rich-text-editor></app-rich-text-editor> -->


<div class="container">
    <h1 class="title">Editor Showcase</h1>
    <p class="subtitle">Click on the links below to access the respective editor:</p>
  
    <nav class="nav-links">
      <a routerLink="/1" routerLinkActive="active">Rich Text Editor</a>
      <a routerLink="/2" routerLinkActive="active">Froala Editor</a>
      <a routerLink="/3" routerLinkActive="active">Syncfusion Editor</a>
      <a routerLink="/4" routerLinkActive="active">CKEditor 5</a>
    </nav>
  
    <div class="editor-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  